<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/madlib">
        <input type="text" name="person" value="" id="person">
        <label for="person">Whats your name</label><br>

        <input type="text" name="color" value="" id="color">
        <label for="color">give a color</label><br>

        <input type="text" name="noun" value="" id="noun">
        <label for="noun">give a noun</label><br>

         <input type="text" name="adjective" value="" id="adjective">
        <label for="adjective">give an adjective</label><br>

        <button type="submit">Click me after fields are filled out</button>

    
    </form>
    
</body>
</html>